// global scss
$font-headings: 'Mansalva', cursive;
$font-body: 'Frank Ruhl Libre', serif;
$background: orange;
$font-colour: yellow;

// :export {
//   fontHeadings: $font-headings;
//   orangeBackground: $background;
// }
