$font-headings: 'Mansalva', cursive;
.header{
  background: pink;
  font-family: $font-headings;
  font-style: italic;
  width: 600px;
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  border: 2px dotted red;
  justify-content: space-between;
}
